:root {
   --color-white: hsl(0, 0%, 100%);
   --color-light: hsl(210, 40%, 98%);
   --color-black: hsl(0, 0%, 7%);
   --color-night: hsl(214, 100%, 10%);

   --color-red: hsl(1, 77%, 55%);
   --color-blue: hsl(207, 90%, 54%);
   --color-green: hsl(123, 41%, 45%);
   --color-orange: hsl(33, 100%, 49%);
   --color-purple: hsl(291, 64%, 42%);

   --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
   font-size: 100%;
   font-size-adjust: 100%;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: var(--color-black);
   background: var(--color-light);
}

a,
button {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   text-decoration: none;
}

img,
video {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

// Element
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 80rem;
   width: 100%;
   height: 100vh;
   margin: 0 auto;
   padding: 0 2rem;
}

.title {
   font-family: inherit;
   font-size: 1.75rem;
   font-weight: 700;
   line-height: inherit;
   color: var(--color-black);
   text-transform: uppercase;
   text-rendering: optimizeLegibility;
}

// Main
.main {
   .counter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 32rem;
      width: 100%;
      height: auto;
      padding: 2rem;
      border: none;
      outline: none;
      border-radius: 0.25rem;
      color: var(--color-black);
      background: var(--color-white);
      box-shadow: var(--shadow-large);

      .values {
         font-family: inherit;
         font-size: 7rem;
         font-weight: 700;
         line-height: inherit;
         padding: 1rem 0;
         color: var(--color-black);
         text-transform: uppercase;
         text-rendering: optimizeLegibility;
      }

      .action {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;

         .button {
            font-family: inherit;
            font-size: 1rem;
            font-weight: 500;
            line-height: inherit;
            cursor: pointer;
            border: none;
            outline: none;
            border-radius: 0.25rem;
            padding: 0.55rem 1.5rem;
            margin: 0 1rem;
            color: var(--color-white);
            background: var(--color-blue);
            box-shadow: var(--shadow-medium);
            text-transform: capitalize;
            text-rendering: optimizeLegibility;
         }
      }
   }
}
